<h1>Projects</h1>
<nav>
  <% @dummies.each do | dummy| %>
    <a href="#"><%= dummy %></a>
  <% end %>
</nav>
<br>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name,
      project_path(project) %>
    </li>
  <% end %>
</ul>

<footer>
  <% @routes.each do |route| %>
    <a href="#"><%= route %></a>
  <% end %>
</footer>
